.root {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  padding: 0 8vw;
  gap: 50px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  h2 {
    font-size: 15vw;
    font-weight: 500;
    line-height: 100%;
  }
  p {
    font-size: 2rem;
  }
}
.control {
  display: flex;
  // justify-content: center;
  // align-items: center;
  gap: 30px;
  button {
    font-size: 1.6rem;
    font-weight: 600;
    color: #000;
    cursor: pointer;
    background-color: transparent;
    transition: 0.3s;
  }
}
