/* @utility text-mini-13 {
	font-size: 0.8125rem;
	line-height: 1.25rem;
}

@utility text-mini-11 {
	font-size: 0.6875rem;
	line-height: 1.1rem;
}

@utility text-mini-10 {
	font-size: 0.625rem;
	line-height: 1rem;
} */
